<footer class="bg-eerie-black text-white font-ubuntu">
  <div class="w-full px-4 mx-auto md:w-11/12 mt-12">
    <a href='{{ relref . "metodologia.md" }}' class="font-chango text-3xl leading-none text-eerie-black uppercase">
      <span class="bg-aqua">Conoce nuestra</span><br>
      <span class="bg-aqua inline-block pt-2">metodología</span>
    </a>
  </div>
  <div class="px-4 py-12 font-bold text-sm grid gap-2 grid-cols-1 lg:grid-cols-4 lg:gap-6">
    <img class="mx-auto invert self-center" src='{{"images/ds-v.svg" | absURL }}' alt="" />
    <img class="mx-auto invert w-40" src='{{"images/cp-v.png" | absURL }}' alt="" />
    <!-- <div class="space-y-2 uppercase flex flex-col items-start pt-4 lg:pt-0">
      <a class="hover:text-barbie-pink" href="https://www.datasketch.co/product?lang=es">Producto</a>
      <a class="hover:text-barbie-pink" href="https://www.datasketch.co/pricing?lang=es">Precios</a>
      <a class="hover:text-barbie-pink" href="https://www.datasketch.co/signup?lang=es">Crear una cuenta gratis</a>
    </div> -->
    <div class="space-y-2 uppercase flex flex-col items-start justify-center">
      <a class="hover:text-barbie-pink" href="https://www.datasketch.news/" target="_blank" rel="noopener noreferrer">
        Datasketch
        <span class="text-barbie-pink">.news</span>
      </a>
      <a class="hover:text-barbie-pink" href="https://datasketch.dev/" target="_blank" rel="noopener noreferrer">
        Datasketch
        <span class="text-barbie-pink">.dev</span>
      </a>
      <a class="hover:text-barbie-pink" href="https://co.datasketch.store/" target="_blank" rel="noopener noreferrer">
        Datasketch
        <span class="text-barbie-pink">.store</span>
      </a>
    </div>
    <div class="flex flex-col items-start justify-center space-y-2 pt-4 lg:pt-0">
      <a href="mailto:hola@datasketch">hola@datasketch.co</a>
      <div class="flex items-center space-x-4">
        <a href="https://twitter.com/datasketch" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/tw_white.svg" | absURL }}' alt="" />
        </a>
        <a href="https://www.facebook.com/datasketch/" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/fb_white.svg" | absURL }}' alt="" />
        </a>
        <a href="https://www.instagram.com/datasketch/" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/ig_white.svg" | absURL }}' alt="" />
        </a>
      </div>
      <p class="font-normal">Bogotá, Colombia</p>
    </div>
  </div>
  <div class="px-4 py-6 pb-12 w-full mx-auto md:w-1/2">
    <div class="flex items-center justify-center space-x-4">
      <img class="w-6" src='{{ "images/cc1.svg" | absURL }}' alt="" />
      <img class="w-6" src='{{ "images/cc2.svg" | absURL }}' alt="" />
      <img class="w-6" src='{{ "images/cc3.svg" | absURL }}' alt="" />
    </div>
    <p class="text-xs font-ibm mt-4 leading-tight text-center">
      Todo el material en esta página, cuando no se indique lo contrario, es <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank" rel="noopener noreferrer" class="underline">CC-BY-SA</a>. Si reusas o adaptas recursos de esta página por favor vincula y referencia nuestro artículo o página
    </p>
  </div>
</footer>
