<div class="swiper-container" style="height: 512px">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>