<div class="swiper-container" style="height: 512px">
  <div class="swiper-wrapper">
    <!-- Edilma 1 -->
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/zxjuXlP25kw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Andrés 1 -->
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/8m1EK_VY8XA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Natalia 1 -->
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/BVZn3pUu7O4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Edilma 2 -->
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/P2PFhqCtdYM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Andrés 2 -->
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/uwEfYOqPSVs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Natalia 2 -->
    <div class="swiper-slide">
      <div class="flex items-center justify-center h-full">
        <iframe class="w-full" style="height: 80%" src="https://www.youtube.com/embed/XcBkRVWuwgM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>