{{ define "head" }}
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
{{ end }}

{{ define "main" }}
<div class="px-4 py-32 xl:py-40 bg-center bg-no-repeat bg-cover" style='background-image: url({{ "images/main-bg.webp" | absURL }});'>
  <div class="text-center mx-auto md:max-w-lg">
    <img class="mx-auto" src='{{ "titles/main.svg" | absURL }}' alt="">
    <p class="text-white mt-16">
      Las enfermeras ganan menos que las médicas, las médicas menos que las especialistas, pero ¿ganan menos ellas que enfermeros, médicos y los especialistas? En Datasketch y Cuestión Pública analizamos contratos por prestación de servicios de entidades de salud públicas de Colombia para saber cómo va la brecha salarial en el sector salud.
    </p>
  </div>
</div>
<!---->
<div class="bg-purple flex flex-col lg:flex-row lg:items-center">
  <div class="w-full px-4 lg:w-1/2">
    <div class="w-full mx-auto pt-24 md:w-10/12 lg:pt-0">
      <p class="text-white">
        La brecha salarial es la diferencia que hay entre la suma de todos los salarios de los hombres y la suma de todos los salarios de las mujeres para el ejercicio de un mismo cargo, aunque no se limita a eso. La brecha salarial también se mide con la cantidad de mujeres y de hombres que hay en posiciones laborales de poder y en la participación laboral de hombres y mujeres. Esto quiere decir que, aún si hay equidad de salarios entre personas de ambos géneros, la brecha se mantiene abierta cuando pocas mujeres tienen cargos en juntas directivas o cuando el número de mujeres contratadas es inferior al número de hombres contratados.
      </p>
    </div>
  </div>
  <div class="w-full lg:w-1/2">
    <img class="mx-auto max-w-xs lg:max-w-md" src='{{ "images/person-1.webp" | absURL }}' alt="">
  </div>
</div>
<!---->
<div class="flex flex-col lg:flex-row lg:items-center">
  <div class="bg-violet w-full lg:w-1/2">
    <img class="max-w-xs lg:max-w-xl mx-auto" src='{{ "images/person-2.webp" | absURL }}' alt="">
  </div>
  <div class="bg-white w-full px-4 lg:w-1/2">
    <div class="w-full mx-auto pt-24 md:w-10/12 lg:pt-0">
      <p class="text-charcoal text-right">
        Según el Foro Económico Mundial en su último reporte sobre brecha de género global, Colombia se ubica en el puesto 22 de 153 en la escala de brecha de género, solo por detrás de Costa Rica y Nicaragua en América Latina. Sin embargo, dicha escala está construida con cuatro indicadores: acceso a salud, oportunidades educativas, igualdad económica y empoderamiento político. Específicamente en el indicador de igualdad económica, Colombia se ubica en el puesto 42 de 153.
      </p>
    </div>
  </div>
</div>
<!---->
<div class="pb-5">
  {{ partial "video-slider.html" . }}
</div>
<!---->
<div class="flex flex-col lg:flex-row lg:items-center">
  <div class="w-full px-4 lg:w-1/2">
    <div class="w-full mx-auto md:w-10/12 py-24">
      <p class="text-charcoal">
        La diferencia existente entre los salarios percibidos por hombres y mujeres en el sector de la salud en Colombia es de XXX%. Los hombres ganan en promedio XXX y las mujeres ganan XXX. Esto a pesar de que existe una cantidad histórica de XXX mujeres contratadas, y XXX hombres contratados.
      </p>
    </div>
  </div>
  <div class="w-full lg:w-1/2">
  </div>
</div>
<!---->
<div id="download" class="px-4 py-24 bg-center bg-no-repeat bg-cover relative">
  <div class="text-center mx-auto md:w-3/5 lg:w-1/3">
    <img class="mx-auto" src='{{ "titles/download.svg" | absURL }}' alt="">
    <p class="text-white mt-10">
      Los datos que analizamos para este especial están disponibles para que la ciudadanía los descargue y haga sus propios análisis.
    </p>
    <div class="mt-10">
      <button class="font-chango bg-white text-purple px-2 py-1 uppercase text-xl md:text-3xl">Descargar</button>
    </div>
  </div>
</div>
{{ end }}

{{ define "js" }}
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('.swiper-container', {
      slidesPerView: 2,
      spaceBetween: 20,
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      }
    });
  </script>
{{ end }}